* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --primary: black;
    --secundary: #2e4469;
    --background: #35495e;
    --black-text: rgb(61, 61, 61);
    --white-text: #ffffff;
    --blue-gradient: linear-gradient(90deg, gray, #35495e);
    --button-hover: #5b79a2;
    --text-shadow: .2rem 22rem .2rem #444447;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* ESTILADO HEADER */
nav {
    background-color: var(--primary);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    color: var(--white-text);
    font-size: 2rem;
    letter-spacing: .7rem;
}

nav ul {
    display: flex;
}

nav ul li {
    border-right: 1px solid rgba(92, 89, 89, 0.41);
}

nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    color: var(--white-text);
    font-size: 1.2rem;
    padding: .8rem 1rem;
    text-transform: uppercase;
}

nav ul li a:hover {
    background-color: var(--button-hover);
    transition: all .3s;
    border-bottom: solid .2rem var(--secundary);
}

.drawer {
    font-size: 1rem;
    color: var(--white-text);
    float: left;
    cursor: pointer;
    display: none;
    margin-left: 1rem;
    border: solid 1.5px var(--white-text);
    padding: .2rem;
    border-radius: .1rem;
}

#ckbox {
    display: none;
}

/* FIN ESTILADO HEADER */ 

/* ESTILADO PORTADA */

.parent { 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.div1 h1{
    display: flex;
    padding:2rem; 
    margin-top: 1rem; 
    margin-bottom: 1rem;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 2rem; 
    background-color: black;
    font-family: 'Times New Roman', Times, serif  ;
    grid-area: 1 / 1 / 2 / 2;
}

.div2 img {
    width: 100%;
    height: auto;
    grid-area: 2 / 1 / 3 / 2;
} 

.div1 h2{
    display: flex;
    padding:2rem; 
    margin-top: 1rem; 
    margin-bottom: 1rem;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 2rem; 
    background-color: black;
    font-family: 'Times New Roman', Times, serif  ;
    grid-area: 1 / 1 / 2 / 2;
}

/* FIN ESTILADO PORTADA */

/*REMERAS*/

section {
    margin-block-end: 3rem;
}

.contenedor {
    display: grid;
    margin-top: 5%;
    background-color: black;
    width: 100%;
    border-radius: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 0px 3px 8px #898484;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio {
    margin-right: 2%;
    border-radius: 10%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    box-shadow: gray;
}

h2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2%;
    text-align: center;
    color: white;
}

p {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2%;
    color: white;
}

.shop {
    font-size: 1.5em;
    color: white;
}

/*FIN REMERAS*/


/* ESTILADO REMERAS SALE */

.precio1 {
    font-size: 1em;
    color: white;
    text-decoration: line-through;
}

.precio2 {
    font-size: 1.5em;
    color: white;
}

/* FIN ESTILADO REMERAS SALE*/


/* ESTILADO TABLA */

/* GRID + FLEXBOX*/

.container-table {
    width: 90%;
    background: whitesmoke;
    margin: 50px auto;

    box-shadow: 0 0 20px #333;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
}

.table__title {
    grid-column-start: 1;
    grid-column-end: 4;

    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9em;
}

.table__header,
.table__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__header {
    font-weight: bold;
    font-size: 1.5em;
}

.table__item {
    padding: 10px;
    font-size: 1.2em;
}

/*FIN GRID + FLEXBOX*/

/* FIN ESTILADO TABLA */

/* ESTILADO FORMULARIO */

#contactanos {
    margin-block-end: 3rem;
}

.con-form form input,
.con-form form label,
.con-form form select .con-form form button {
    width: 100%;
    padding: .7em;
    border: none;
    background: white;
    border-bottom: 1px solid #5b6468;
}

.con-form form label {
    border: 0;
    font-family: 'Poppins', sans-serif;
}

.con-form form select,
.con-form form button {
    background: #5b6468;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.con-form form button:hover,
.con-form form button:focus,
.con-form form select:hover,
.con-form form select:focus {
    background: #303131;
    color: white;
    transition: background-color 1s ease-out;
    outline: 0;
}

.con-form form input,
.con-form form label,
.con-form form select .con-form form button {
    margin: 0;
    padding: 1em;
}

/* Grid*/
.con-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.con-form form,
.block {
    grid-column: 1 / 3;
}

/* Fin Grid */

/* FIN ESTILADO FORMULARIO */

/* ESTILADO CONTACTO*/

#nacho h2:hover {
    color: #5b5f63;
    z-index: 1;
}

h3 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tomi h2:hover {
    color: #5b5f63;
    z-index: 1;
}

/*FIN ESTILADO CONTACTO */

/* NOSOTROS */

#quienes_somos {
    margin-block-end: 5rem;
}

/* FIN NOSOTROS */

/* ESTILADO FOOTER */

footer {
    width: 100%;
    padding: 50px 0px;
    background-color: black;
    background-size: cover;

}

.pie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img {
    width: 70px;
}

.box__footer .descripcion {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #a7a7a7;
    font-size: 18px;
}

.box__footer h2 {
    margin-bottom: 20px;
    color: #343434;
    font-weight: 700;
}

.box__footer a {
    margin-top: 20px;
    color: #a7a7a7;
    font-weight: 600;
    text-decoration: none;
}

.box__footer span {
    margin-top: 20px;
    color: #a7a7a7;
    font-weight: 600;
}

.box__footer a:hover {
    opacity: 0.8;

}

.box__footer a .fab {
    font-size: 20px;
    margin: 10px;
    color: white;
}

.since {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.since h2 {
    margin-top: 25px;
    color: white;
}

.since hr {
    border: none;
    height: 1px;
    background-color: white;
}

/* FIN ESTILADO FOOTER */

/* ANIMACIONES Y TRANSICIONES*/
.box {
    transition: all 2s;
}

.box:hover {
    transform: scale(1.1);
}

nav ul li a {
    transition: all 1s;
    transform: scale(1);
}

header h1 {
    transition: all 1s;
    transform: scale(1);
} 

/* FIN ANIMACIONES Y TRANSICIONES*/

/* MEDIA  QUERY*/

@media (max-width:1039px) {
    nav {
        justify-content: flex-start;
    }

    .drawer {
        display: block;
    }

    nav h1 {
        margin-left: 1rem;
    }

    ul {
        position: fixed;
        width: 50%;
        height: 100vh;
        background-color: var(--background);
        top: 10vh;
        left: -100%;
        text-align: left;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        align-content: stretch;
    }

    nav ul li {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        border-bottom: solid .1rem rgba(201, 196, 196, 0.4);
    }

    #ckbox:checked~.menu-box {
        left: 0;
    }

}

@media (min-width:600px) {
    .contenedor {
        width: 60%;
        margin-left: 20%;
    }

    #quienes_somos {
        width: 100%;
        margin-left: 0%;
    }
}